* {
    box-sizing: border-box;
}

:root {
    --main-color: #08A6E4;
    --side-color-pink: #FB3B64;
    --side-color-green: #55DFB4;
    --shadow-color: #A5A5A5;
    --additional-font: 'Open Sans', sans-serif;
}

body {
    max-width: 1626px;
    margin: 0 auto;
    background: white;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 3px 6px var(--shadow-color);
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

/*
** HEADER
*/

header {
    box-shadow: 0 3px 6px var(--shadow-color);
}

header .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 32px;
    font-weight: lighter;
    color: var(--main-color);
    text-decoration: none;
}

header ul {
    display: flex;
    align-items: center;
}

header li {
    height: 15px;
    padding-left: 95px;
}

header li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--additional-font);
    font-weight: bold;
    color: var(--shadow-color);
}

/*
** BANNER
*/

.banner {
    background: url("../images/Background/Background.png") no-repeat bottom;
}

.banner .container {
    height: 704px;
    margin-top: calc(208px - 70px);
    text-align: center;
}

.banner h1 {
    font-size: 49px;
    font-weight: initial;
    margin-bottom: 20px;
}

.banner p {
    font-family: var(--additional-font);
    font-size: 16px;
    font-weight: initial;
    margin-bottom: 38px;
}

.banner a {
    height: 67px;
    width: 440px;
    padding: 24px 0;
    font-family: var(--additional-font);
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: inline-block;
    background: var(--main-color);
    border-radius: 40px;
    box-shadow: 5px 10px 14px rgba(8, 166, 228, .2);
}

/*
** STATISTICS
*/

















