* {
    box-sizing: border-box;
}

:root {
    --main-color: #08A6E4;
    --side-color-pink: #FB3B64;
    --side-color-green: #55DFB4;
    --shadow-color: #A5A5A5;
    --additional-font: 'Open Sans', sans-serif;
}

body {
    max-width: 1626px;
    margin: 0 auto;
    background: white;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 3px 6px var(--shadow-color);
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

/*
** HEADER
*/

header {
    box-shadow: 0 3px 6px var(--shadow-color);
}

header .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 32px;
    font-weight: lighter;
    color: var(--main-color);
    text-decoration: none;
}

header ul {
    display: flex;
    align-items: center;
}

header li {
    height: 15px;
    padding-left: 95px;
}

header li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    font-family: var(--additional-font);
    font-weight: bold;
    color: var(--shadow-color);
}

h1, h2 {
    font-weight: initial;
}

/*
** BANNER
*/

.banner {
    background: url("../images/Background/Background.png") no-repeat bottom;
}

.banner .container {
    height: 704px;
    margin-top: calc(208px - 70px);
    text-align: center;
}

.banner h1 {
    font-size: 49px;
    margin-bottom: 20px;
}

.banner p {
    font-family: var(--additional-font);
    font-size: 16px;
    font-weight: initial;
    margin-bottom: 38px;
}

.banner a {
    height: 67px;
    width: 440px;
    padding: 24px 0;
    font-family: var(--additional-font);
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: inline-block;
    background: var(--main-color);
    border-radius: 40px;
    box-shadow: 5px 10px 14px rgba(8, 166, 228, .2);
}

/*
** STATISTICS
*/

.statistics {
    height: 531px;
    text-align: center;
}

.statistics h2 {
    font-size: 36px;
    padding: 106px 0 101px 0;
}

.statistic_input {
    display: flex;
    justify-content: space-evenly;
}

.statistic_input_numbers {
    height: 150px;
    width: 176px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.statistic_input .circle {
    height: 63px;
    width: 63px;
    border-radius: 50%;
}

.statistic_input_numbers:first-of-type::before {
    content: url("../images/Minis/Person.svg");
    display: block;
    position: absolute;
    right: 40px;
}

.statistic_input_numbers:nth-of-type(2)::before {
    content: url("../images/Minis/Eye.svg");
    display: block;
    position: absolute;
    right: 34px;
    top: 14px;
}

.statistic_input_numbers:last-of-type::before {
    content: url("../images/Minis/Catalog.svg");
    display: block;
    position: absolute;
    right: 38px;
    top: 5px;
}

.statistic_input_numbers:first-of-type div {
    background: var(--side-color-pink);
}

.statistic_input_numbers:nth-of-type(2) div {
    background: var(--main-color);
}

.statistic_input_numbers:last-of-type div {
    background: var(--side-color-green);
}

.statistic_input h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 6px;
}

.statistic_input p {
    display: block;
    color: #A5A5A5;
}

/*
** MAIN
*/

main {
    background: #F7F7F7;
    height: 1395px;
}

main .container {
    height: 1395px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    background: white;
    height: 370px;
    width: 1124px;
    display: flex;
    align-items: center;
}

article:nth-of-type(2) {
    margin: 37.5px 0;
}

.article_text img {
    display: block;
}

.article_text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

article .text h2 {
    font-size: 36px;
}

/*
** PRICING
*/

.pricing {
    padding-top: 106px;
}

.pricing .container {
    height: 610px;
    text-align: center;
}

.pricing h2 {
    font-size: 36px;
    margin-bottom: 71px;
}

.pricing_boxes {
    display: flex;
    justify-content: space-evenly;
}

.pricing_box {
    width: 372px;
    height: 461px;
    border: 1px solid black;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.pricing_box h3 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 25px;
}

.price {
    font-family: var(--additional-font);
    font-weight: 300;
    font-size: 46px;
}

.pricing_box .limited_offer {
    font-size: 12px;
    font-weight: 700;
}

.pricing_box ul {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
}

.pricing_box li {
    font-family: var(--additional-font);
    font-size: 14px;
    list-style: none;
}

.pricing_box .button {
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: -22px;
    left: 110px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing_box a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.pricing_box:first-of-type {
    border-color: var(--side-color-pink);
}

.pricing_box:first-of-type .price {
    color: var(--side-color-pink);
}

.pricing_box:first-of-type .button {
    background: var(--side-color-pink);
}

.pricing_box:nth-of-type(2) {
    border-color: var(--main-color);
}

.pricing_box:nth-of-type(2) .price {
    color: var(--main-color);
}

.pricing_box:nth-of-type(2) .button {
    background: var(--main-color);
}

.pricing_box:last-of-type {
    border-color: var(--side-color-green);
}

.pricing_box:last-of-type .price {
    color: var(--side-color-green);
}

.pricing_box:last-of-type .button {
    background: var(--side-color-green);
}

.pricing_box li::before {
    content: url("../images/Minis/Checkmark.svg");
    display: inline-block;
    height: 11px;
    width: 11px;
    border: 1px solid var(--side-color-green);
    border-radius: 2px;
    margin-right: 13px;
}

.pricing_box:first-of-type ul li:nth-of-type(4)::before,
.pricing_box:first-of-type ul li:nth-of-type(5)::before,
.pricing_box:nth-of-type(2) ul li:last-of-type::before
{
    content: "X";
    font-size: 8px;
    font-weight: bold;
    display: inline-block;
    height: 11px;
    width: 11px;
    color: var(--side-color-pink);
    border: 1px solid var(--side-color-pink);
    border-radius: 2px;

}

/*
** FORM
*/

.form .container {
    width: 896px;
    margin-top: 201px;
    display: flex;
    justify-content: space-between;
}

.form h2 {
    font-size: 49px;
    padding-bottom: 22px;
}

.form p {
    font-family: var(--additional-font);
    font-size: 16px;
    font-weight: initial;
    padding-bottom: 42px;
    display: inline-block;
}

.form .form_contact {
    color: #A5A5A5;

}

.form .mail::before {
    content: url("../images/Minis/Mail Icon.svg");
    display: inline-block;
    padding-right: 10px;
}

.form .phone::before {
    content: url("../images/Minis/Phone Icon.svg");
    display: inline-block;
    padding: 0 10px 0 24px;
}

.form_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 157px;
    width: 440px;
}

.form_input label {
    font-family: var(--additional-font);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 11px;
    letter-spacing: 3px;
    display: block;
}

.form_input input {
    border: none;
    border-bottom: 1px solid rgba(165, 165, 165, .7);
    width: 440px;
    display: block;
}

.form_right .agreement {
    font-family: var(--additional-font);
    font-size: 12px;
    color: #707070;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.form_right .send {
    height: 57px;
    width: 226px;
    background: var(--main-color);
    padding: 20px 97px;
    color: white;
    font-size: 13px;
    font-family: var(--additional-font);
    border: none;
    border-radius: 35px;
}

/*
** FOOTER
*/

footer {
    background: #F7F7F7;
    box-shadow: 0 -5px 40px var(--shadow-color);
}

footer .container {
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .left_side a {
    font-size: 26px;
    color: var(--main-color);
    text-decoration: none;
}

footer .left_side p {
    font-family: var(--additional-font);
    font-size: 11px;
    color: #A5A5A5;
}






















